<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Generator</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        #input-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #output-container {
            margin-right: 0px;
        }
        #prompt-container {
            margin-left: 0px
        }
        #output-image {
            max-width: 80%;
        }
    </style>
</head>
<body>
    <div id="input-container">
        <h1>Image Generator</h1>
        
        <!-- Input Text Box -->
        <form method="post">
            <label for="input-text">Enter Text:</label>
            <input type="text" id="input-text" name="input-text" placeholder="Type something..." />
            <button type="submit">Generate Image</button>
        </form>
    </div>
    
    <!-- Output Image Box -->
    <div id="output-container">
        {% if generated_image_url %}
            <img id="output-image" src="{{ generated_image_url }}" alt="Generated Image" />
            <p id="output-text">Input Text: {{ input_text }}</p>
        {% endif %}
    </div>

    <div id="prompt-container">
        {% if generated_image_url %}
            <label for="predefined-text">Generated Prompt:</label>
            <br />
            <textarea id="predefined-text" name="predefined-text" rows="8" cols="60">{{predefined_text}}</textarea>
        {% endif %}
    </div>
</body>
</html>
